## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

## publish output (we build from source)
publish/
publish_installer/
*.msi
*.zip

## IDE
.vs/
.idea/
*.DotSettings.user

## OS
Thumbs.db
Desktop.ini
